.App {
  text-align: center;
}

.header{
  position: sticky;
  margin: 0px 10px;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  height: 47%;
}

.header_info{
  display: flex;
  align-items: center;
}

.header_right{
  display: flex;
  align-items: center;
}

.header_search{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f4f4f9;
  width: 700px;
  height: 45px;
  border-radius: 5px;
  color: -internal-light-dark(black,white);
}

.header_search >input{
  border: none;
  height: 40px;
  background: transparent;
  outline: none;
  width: 100%;
}

.info{
  color: #5f6368;
  font-size: 22px;
  padding-left: 5px;
  font-family: 'Google Sans',Robot,Arial,sans-serif;
}


/* Slider_bar */

.list_item{
  margin-right: 10px;
  font-family: 'Product Sans',Arial,san-serif;
}

.list_item:hover{
  background-color: #f4f4f9;
  border-radius: 0 20px 20px 0;
  color: black;
}

/* Template CSS */

.template_section{
  background-color: #f4f4f9;
  padding-bottom: 40px;
  padding-top: 7px;
}

.template_top{
  margin-right: 180px;
  margin-left: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.template_right{
  display: flex;
}

.gallery_button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  outline: none;
  font-size: 14px;
}

.template_body{
  margin-left: 160px;
  margin-left: 160px;
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.card{
  margin-left: 20px;
  margin-top: 15px;
}

.card_image{
  box-sizing: border-box;
  height: 120px;
  width: 140px;
  cursor: pointer;
  border-radius: 2px;
  border: 0.2px solid #fffdf7;
}
.card_image:hover{
  border: 1px solid #6e2594;
}
.card_title{
  font-size: 14px;
  margin-top: 2px;
  color: #202124;
  font-weight: 500;
}

/* Mainbody CSS */

.mainbody{
  background-color: white;
  margin-left: 160px;
  margin-right: 160px;
}

.mainbody_top{
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainbody_top_right{
  display: flex;
  align-items: center;
}

.mainbody_top_center{
  display: flex;
  box-sizing: content-box;
  align-items: center;
  padding: 3px 5px;
  border-radius: 6px;
  font-size: 16px;
}

.mainbody_doc{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.doc_card{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  margin-right: 20px;
}
.doc_card:hover{
  border:1px solid #6e2594;
}

.doc_image{
  box-sizing: border-box;
  height: 150px;
  width: 198px;
}

/* Formheader CSS */

.form_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Google Sans',Robot,Arial,sans-serif;
  margin: 5px 15px;
  background-color: white;
}

.foem_header_left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_name{
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #202124;
  width: 120px;
}

.form_name:hover{
  border-bottom: 1px solid black;
}

.form_header_icon{
  color: #202124;
  font-size: 20px;
}

.form_header_right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Question_form CSS */

.question_form{
  background-color: #f4f4f9;
  height: 100%;
  padding-bottom: 30px;
  font-family: 'Google Sans',Robot,Arial,sans-serif;
}

.section{
  margin: auto;
  width: 50%;
}

.question_form_top{
  background-color: white;
  border-top: 8px solid rgb(103,58,183);
  border-radius: 8px;
  padding: 30px 25px;
  text-transform: capitalize;
}

.question_form_top_name{
  box-sizing: border-box;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  line-height: 135%;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #f4f4f9;
  color: black;
  height: 35px;
}

.question_form_top_desc{
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #f4f4f9;
  color: black;
  height: 20px;
}

.question_boxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add_question{
  background-color: white;
  border-radius: 8px;
  padding: 25px 22px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  width: 93%;
  margin-left: 10px;
}

.add_question_top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.question{
  box-sizing: border-box;
  margin-top: 10px;
  font-family: 'Google Sans',Robot,Arial,sans-serif;
  font-size: 15px;
  font-weight: 400;
  flex: 1;
  line-height: 40px;
  width: 40%;
  border: none;
  outline: none;
  color: black;
  height: 40px;
  margin-right: 10px;
  line-height: 10px;
  padding: 10px;
}

.question:focus{
  border-bottom: 1px solid rgb(103,58,183);
  background-color: #f4f4f9;
}

.select{
  height: 40px;
  width: 230px;
  padding: 5px 15px;
  color: black;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 3px;
  background: transparent;
}

.menuitem{
  color: rgba(118, 118, 118, 0.3);
}

.add_question_body{
  display: flex;
  align-items: center;
}

.text_input{
  outline: none;
  border: none;
  height: 40px;
  width: 490px;
  font-family: Roboto,Arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .2px;
  color: #202124;
}

.text_input:focus{
  border-bottom: 1px solid rgb(103,58,183);
}

.add_footer{
  display: flex;
  justify-content: space-between;
}

.add_question_bottom{
  margin-top: 12px;
  border-top: 1px solid rgba(118, 118, 118, 0.3);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add_question_bottom_left{
  margin-top: 12px;
  border-top: 1px solid rgba(118, 118, 118, 0.3);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add_border{
  border-left: 6px solid #4285f4;
}

.question_edit{
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 1px;
  border-radius: 3px;
  height: 180px;
  width: 35px;
}

.edit{
  color: #5f6368;
  padding: 8px 5px;
}